// >= 1920px
.sidebar {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: var(--nav-wide-width);
    height: 100vh;
    border-right: 1px solid #ccc;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    padding: 8px 12px 20px;
    .logo {
        padding: 20px 12px 8px;
        margin-bottom: 16px;
    }
    user-select: none;
}

.sidebar-notify {
    position: relative;
}

.sidebar-invitation {
    position: relative;
}

.wrapper {
    position: relative;
}

.hidden {
    display: none;
}

.top {
    display: flex;
    justify-content: space-between;
}

.mark {
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    margin-right: 16px;
    &:hover {
        opacity: 0.6;
    }
}

.notify-result {
    padding: 12px 0;
    width: 500px;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 4px 1px 10px 4px rgba(0, 0, 0, 0.3);
}

.notify-title {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    margin-left: 10px;
}

.result-notify {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify-icon {
    position: relative;
    display: flex;
    margin-right: 15px;
    cursor: pointer;
    &:hover {
        opacity: 0.3;
        scale: 1.2;
        transform: rotate(15deg);
    }
    &:hover + .count {
        background-color: #00bd52;
    }
}

.list-notify,
.notify-item {
    display: flex;
    flex-direction: column;
    //justify-content: center;
}
.notify-item {
    padding: 0 10px;
}

.list-notify {
    max-height: 50vh;
    overflow-y: scroll;
}
.small-wrap {
    width: 360px !important;
}

.items-container {
    flex-grow: 1;
}

@media (min-width: 1264px) and (max-width: 1919px) {
    .sidebar {
        width: var(--nav-medium-width);
    }
}
