.create-post {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1a1a1abb;
    color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.wrapper {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 512px;
    overflow: hidden;
    animation: fadeIn 0.2s ease-in;
    .post-title {
        position: relative;
        height: 50px;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-left: 1rem;
    }
}

.bottom {
    flex: 1;
    min-height: 200px;
    max-height: 300px;
    overflow-x: hidden;
    border-right: 1px solid #ccc;
    .picture-item {
        border: 1px solid #ccc;
        width: 100%;
        border-radius: 4px;
        object-fit: cover;
        aspect-ratio: 1/1;
        cursor: pointer;
        &:hover {
            filter: brightness(70%);
        }
    }
}
.wrap-picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    overflow-y: auto;
    padding: 2rem;
}
.wrap-title {
    user-select: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        color: var(--primary);
    }
}
.top {
    display: flex;
    flex-direction: column;
    .post-header {
        position: relative;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-left: 1rem;
        .post-username {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 14px;
        }
    }
    .post-content {
        width: 100%;
        padding: 1rem 2rem;
        textarea {
            background-color: #f0f2f5;
            border-radius: 4px;
            padding: 1rem;
            width: 100%;
            border: none;
            outline: none;
            resize: none;
        }
    }
}
.btn-open-img {
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    color: var(--primary);
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
}

.share-btn {
    margin: 1rem 2rem 2rem;
    padding: 5px 10px;
    border-radius: 8px;
    text-align: center;
    background-color: #e4e6eb;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: var(--primary);
        color: white;
    }
}
.select-status {
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 100;
    background-color: #f0f2f5;
    color: #333;

    option {
        background-color: #fff;
        color: var(--primary);
        font-weight: 100;
    }
}
.select-status:focus::-ms-expand {
    background-color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
