.chat-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 0;
    max-width: 75%;
    max-height: 80vh;
    .header {
        height: 51px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid gainsboro;
    }
}

.add-file-icon path {
    stroke: #4665ff;
}

.current-chatting-user {
    display: flex;
    align-items: center;
    p {
        margin: 0;
        font-weight: 600;
    }
}

.settings .btn-nobg {
    color: #000;
}

.body {
    height: calc(100vh - calc(100vh / 2) + 10vh);
    padding-top: 20px;
    min-height: calc(100vh - calc(100vh / 1.5));
    overflow: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }
}

.chat-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: right;
    animation-name: showIn;
    animation-duration: 0.2s;
    /* or: Xms */
    animation-iteration-count: 1;
    animation-direction: normal;
    /* or: normal */
    animation-timing-function: cubic-bezier(0.88, 0.19, 0.37, 1.11);
    /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: both;
    /* or: backwards, both, none */
    animation-delay: 0.2s;
    /* or: Xms */
}

@keyframes showIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.chat-item .avatar {
    margin-right: 0px;
    margin-left: 20px;
    background: #fff;
    padding: 1px;
}

.chat-item-content {
    background-color: #4462ff;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 10px;
    width: fit-content;
    max-width: 50%;
    //min-width: 215px;
}

.chat-item-content .chat-meta {
    justify-content: space-between;
    display: flex;
    margin-top: 5px;
}

.chat-item-content .chat-meta span {
    font-size: 13px;
    color: #a5a5a5 !important;
    user-select: none;
}

.chat-msg {
    font-size: 14px;
    width: fit-content;
    user-select: none;

    img,
    video {
        max-width: 300px;
        height: auto;
    }
}

.chat-item.other {
    flex-direction: row-reverse;
    transform-origin: left;
}

.chat-item.other .chat-item-content {
    background-color: #fff;
    color: #000;
    border-radius: 10px 10px 10px 0;
    max-width: 50%;
}

.chat-item.other .avatar {
    margin-right: 20px;
    margin-left: 0px;
}

.chat-item.other .chat-item-content .chat-meta span {
    color: #f0efef;
}

.content-footer {
    padding-top: 20px;
    border-top: 1px solid gainsboro;
}

.sendNewMessage {
    width: 70%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    gap: 8px;

    .picture-chat {
        position: relative;

        span {
            font-weight: 700;
            display: none;
            color: #fff;
            cursor: pointer;
            font-size: 12px;
            border-radius: 50%;
            background-color: #2d2d30;
            padding: 2px 7px;
            position: absolute;
            right: 10px;
            top: 10px;
            transition: all 0.3s;
            z-index: 2;

            &:hover {
                transform: scale(1.05);
            }
        }

        &:hover {
            span {
                display: block;
            }
            .picture-item {
                filter: brightness(70%);
            }
        }
    }

    .chat-input {
        display: flex;
        flex-direction: row;
    }

    .files-chat {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        overflow-y: auto;
        padding: 2rem;
        height: 200px;
        overflow-y: scroll;
    }

    .picture-item {
        border: 1px solid #ccc;
        width: 100%;
        border-radius: 4px;
        object-fit: cover;
        aspect-ratio: 1/1;
        cursor: pointer;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ecefff;
        cursor: pointer;
        font-size: 16px;
        color: #4665ff;
        padding: 10px;
        border-radius: 5px;
        line-height: 36px;
        transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
    }
}

.sendNewMessage button:hover {
    transform: scale(1.2);
}

.sendNewMessage input {
    flex-grow: 1;
    padding: 0 15px;
    background-color: transparent;
}

#sendMsgBtn {
    background-color: #3b5bfe;
    color: #fff;
}
