.sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 0;
    padding: 10px;

    cursor: pointer;
    &:hover {
        background-color: #f2f2f270;
        border-radius: 2rem;
        :first-child {
            scale: 1.02;
        }
    }
}
.sidebar-title {
    font-size: 1.6rem;
    padding-left: 16px;
    margin: 0;
    font-weight: bold;
}
.hihi {
    &:hover {
        background-color: #3a3b3c;
    }
}
