.post__container {
    width: 700px;
    min-height: 700px;
    border: 1px solid #dbdddb;
    border-radius: 8px;
    background-color: #fff;
    margin: 20px 0;
    overflow: hidden;
    .post__header {
        height: 60px;
        border-bottom: 1px solid #dbdddb;
        display: flex;
        .post__avatar {
            min-width: 30px;
            min-height: 30px;
            margin: 10px;
        }
        .post__username {
            font-size: 14px;
            margin-top: 20px;
        }
    }
    .post__reactIcon {
        margin-left: 15px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
    }
    .post__comment {
        margin: 10px;
    }
    .post__commentInput {
        height: 55px;
        width: 100%;
        padding: 4px 16px;
        font-size: 16px;
        caret-color: red;
    }
}

.dropdown-icons {
    position: relative;
    &:hover .dropdown-wrap {
        display: flex;
    }
    .dropdown-wrap {
        margin-left: 5px;
        padding: 4px 8px;
        border-radius: 20px;
        position: absolute;
        display: none;
        //background-color: #f9f9f9;
        //box-shadow: 4px 1px 10px 4px rgba(0, 0, 0, 0.3);
        .dropdown-icon {
            cursor: pointer;
            margin-right: 2px;
            position: relative;
            transition: 0.2s;
            width: 35px;
            top: 0;
            &:hover {
                top: -10px;
            }
        }
    }
}

.icon-emoji {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.post-btn {
    background-color: transparent;
    color: #1ea1f7;
    margin-right: 15px;
    opacity: 0.5;
}

.post-theme-dark {
    background-color: #3a3a3a !important;
    color: #fff;
}