.post__container {
    width: 700px;
    border: 1px solid #dbdddb;
    border-radius: 8px;
    background-color: #fff;
    margin: 20px 0;
    overflow: hidden;
    .post__header {
        position: relative;
        height: 60px;
        border-bottom: 1px solid #dbdddb;
        display: flex;
        .post__username {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 14px;
        }
    }
    .view-all {
        padding: 0 1rem 1rem;
        font-weight: 500;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .post__reactIcon {
        margin-left: 15px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
    }
    .post__comment {
        margin-left: 2rem;
        display: flex;
        position: relative;
        &:hover .like-comment {
            visibility: inherit;
        }
        &:hover .more {
            display: flex;
        }
    }
    .post__commentInput {
        font-weight: 100;
        height: 55px;
        width: 100%;
        padding: 4px 16px;
        font-size: 16px;
        caret-color: red;
    }
}

.comment-dropdown {
    position: relative;
    cursor: pointer;
    .more {
        display: none;
        margin-left: 10px;
        margin-top: 5px;
    }
    .activeAct {
        display: flex !important;
    }
    .comment-action {
        overflow: hidden;
        flex-direction: column;
        display: none;
        top: 0;
        left: calc(100% + 10px);
        position: absolute;
        border-radius: 4px;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.3);
        z-index: 1;
        .action-item {
            font-size: 14px;
            padding: 6px 12px;
            display: flex;
            gap: 12px;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            &:hover {
                background-color: rgba(0, 0, 0, 0.073);
            }
        }
    }
}

.post__commentInput:not(:placeholder-shown) ~ .post-btn {
    opacity: 1;
}

.icon-more {
    position: absolute;
    right: 15px;
    top: 18px;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}

.more-action {
    text-align: center;
    font-size: 15px;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #dbdddb;
    &:hover {
        background-color: rgba(0, 0, 0, 0.073);
    }
}

.more-action:last-child {
    border: none;
}

.more-action:first-child {
    color: red;
}

.post-caption {
    font-weight: 700;
    padding: 10px;
    overflow-wrap: break-word;
}

.dropdown-icons {
    position: relative;
    &:hover .dropdown-wrap {
        display: flex;
    }
    .dropdown-wrap {
        margin-left: 5px;
        padding: 4px 8px;
        border-radius: 20px;
        position: absolute;
        display: none;
        //background-color: #f9f9f9;
        //box-shadow: 4px 1px 10px 4px rgba(0, 0, 0, 0.3);
        .dropdown-icon {
            cursor: pointer;
            margin-right: 2px;
            position: relative;
            transition: 0.2s;
            width: 35px;
            top: 0;
            &:hover {
                top: -10px;
            }
        }
    }
}

.icon-emoji {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.post-btn {
    background-color: transparent;
    color: #1ea1f7;
    margin-right: 15px;
    opacity: 0.5;
}

.like-comment {
    display: flex;
    visibility: hidden;
    margin-left: 120px;
    font-size: 10px;
    font-weight: 100;
    :first-child {
        margin-right: 20px;
    }
}

.cmt-time {
    cursor: default;
    position: absolute;
    right: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
    padding-top: 5px;
}

.post-time {
    font-weight: 100;
    font-size: 1.1rem;
    opacity: 0.7;
}

.reply-user {
    opacity: 0.6;
    background-color: rgba(128, 128, 128, 0.678);
    color: #fff;
    font-size: 1rem;
    margin-top: 12px;
    padding: 0 10px;
    border-radius: 4px;
    margin-right: 10px;
    height: 100%;
    display: inline;
    justify-content: center;
    cursor: pointer;
}

.post-theme-dark {
    background-color: #181818 !important;
    color: #fff;
}
