.info__container {
    width: 300px;
    height: 56px;
    margin-top: 20px;
    display: flex;
    .info__image {
        min-width: 50px;
        min-height: 50px;
    }
    .info__content {
        margin-left: 10px;
        margin-top: 5px;
        font-size: 14px;
        .info__username {
            font-weight: bold;
            font-size: 16px;
        }
        .info__description {
            opacity: 0.5;
            font-size: 15px;
        }
    }
}