.sidebar-layout {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

// >= 1920px
.sidebar {
    display: flex;
    flex-direction: column;
    width: var(--nav-wide-width);
    height: 100vh;
    border-right: 1px solid #ccc;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    padding: 0 12px;
    .logo {
        padding: 20px 12px 8px;
        margin-bottom: 16px;
    }
}

@media (min-width: 1264px) and (max-width: 1919px) {
    .sidebar {
        width: var(--nav-medium-width);
    }
}
